* {
    color: white;
    text-align: center;
}

.app {
    text-align: center;
    clear: right;
}

.elements {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    clear: right;
    text-align: center;
}

.heading {
    clear: right;
    margin-top: 100px;
    margin-bottom: 20px;
}

.main {
    background: url('./assets/night.jpg') no-repeat center center/cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
}

.hours {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.search {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.search input {
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    color: black;
}

::placeholder {
    color: black
}

.mapping,
.three,
.one,
.two,
.weather {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(247, 98, 98);
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}